@inject NavigationManager NavManager

<div style="padding: 1rem; width: 100%;">
    <MudGrid Spacing="0" Class="card_back">
        @if (null != websitePost.ThumbnailImage)
        {
            <MudItem lg="2" md="3" sm="0">
                <div class="card_side">
                    <MudImage Src="@websitePost.ThumbnailImage.RemotePath" class="post_thumbnail" Fluid="true" ObjectFit="ObjectFit.Contain" />
                </div>
            </MudItem>
            <MudItem lg="10" md="9" sm="12" Style="height: 100%;">
                <div class="card_top">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="margin-left: auto; margin-right: auto; padding: 0.5rem;">
                        @websitePost.Title
                    </MudText>
                </div>
                <MudGrid Spacing="0">
                    <MudItem xs="12">
                        <div style="padding: 1rem;">
                            <MudMarkdown Value="@SplitPostBody(websitePost.Body)" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <MudItem xs="12" Style="display: flex;">
                            <MudButton EndIcon="@Icons.Material.Filled.ArrowRight" Style="margin-right: 0.5rem; margin-left: auto; margin-bottom: 0.5rem; margin-top: auto;" OnClick="@OnClickReadMore">Read More</MudButton>
                        </MudItem>
                    </MudItem>
                </MudGrid>
            </MudItem>
        }
        else
        {
            <MudItem xs="12">
                <div class="card_top" style="border-radius: 1rem 1rem 0rem 0rem;">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="margin-left: auto; margin-right: auto; padding: 0.5rem;">
                        @websitePost.Title
                    </MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div style="padding: 1rem;">
                    <MudMarkdown Value="@SplitPostBody(websitePost.Body)" />
                </div>
            </MudItem>
            <MudItem xs="12" Style="display: flex; margin-bottom: 0; margin-top: auto;">
                <MudButton EndIcon="@Icons.Material.Filled.ArrowRight" Style="margin-right: 0.5rem; margin-left: auto; margin-bottom: 0.5rem; margin-top: auto;" OnClick="@OnClickReadMore">Read More</MudButton>
            </MudItem>
        }
    </MudGrid>
</div>

<style>
    .card_back {
        border: solid;
        border-width: 1px;
        border-color: #411c63;
        border-radius: 1rem;
        width: 100%;
        z-index: 100;
        background-color: #602a91;
        box-shadow: rgba(20, 20, 20, 0.15) 5px 5px 5px;
    }

    .post_thumbnail {
        max-height: 15rem;
        max-width: 100%;
        filter: drop-shadow(5px 5px 5px rgba(20, 20, 20, 0.15));
        line-height: 0;
        margin: auto;
        padding: 1rem;
        border-radius: 2rem;
    }
</style>

@code {
    [Parameter] public required WebsitePost websitePost { get; set; }

    string SplitPostBody(string body)
    {
        string[] words = body.Split(' ');

        if (words.Length > 100)
        {
            return (string.Join(' ', words, 0, 100) + "...");
        }
        else
        {
            return body;
        }
    }

    void OnClickReadMore() {
        NavManager.NavigateTo($"/posts/single/{websitePost.Id}");
    }
}
