@inject NavigationManager NavManager

<div style="padding-top: 0.1rem; padding-bottom: 0.8rem; padding-left: 1rem; padding-right: 1rem; width: 100%;">
    <MudGrid Spacing="0" Class="recent_card_back">
        @if (null != websitePost.Images.Where(x => x.ImageTypeIs == Image.ImageType.ThumbnailImage).FirstOrDefault())
        {
            <MudItem lg="2" md="3" sm="0">
                <div class="recent_card_side">
                    <MudImage Src="@websitePost.Images.Where(x => x.ImageTypeIs == Image.ImageType.ThumbnailImage).FirstOrDefault()!.RemotePath" class="recent_post_thumbnail" Fluid="true" ObjectFit="ObjectFit.Contain" />
                </div>
            </MudItem>
            <MudItem lg="10" md="9" sm="12" Style="height: 100%;">
                <div class="recent_card_top">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="margin-left: auto; margin-right: auto; padding: 0.5rem;">
                        @websitePost.Title
                    </MudText>
                </div>
                <MudGrid Spacing="0">
                    <MudItem xs="12">
                        <div style="padding: 1rem;">
                            @((MarkupString)(Markdown.ToHtml(SplitPostBody(websitePost.Body))))
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <MudItem xs="12" Style="display: flex;">
                            <MudButton EndIcon="@Icons.Material.Filled.ArrowRight" Style="margin-right: 0.5rem; margin-left: auto; margin-bottom: 0.5rem; margin-top: auto;" OnClick="@OnClickReadMore">Read More</MudButton>
                        </MudItem>
                    </MudItem>
                </MudGrid>
            </MudItem>
        }
        else
        {
            <MudItem xs="12">
                <div class="recent_card_top" style="border-radius: 1rem 1rem 0rem 0rem;">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="margin-left: auto; margin-right: auto; padding: 0.5rem;">
                        @websitePost.Title
                    </MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div style="padding: 1rem;">
                    @((MarkupString)(Markdown.ToHtml(SplitPostBody(websitePost.Body))))
                </div>
            </MudItem>
            <MudItem xs="12" Style="display: flex; margin-bottom: 0; margin-top: auto;">
                <MudButton EndIcon="@Icons.Material.Filled.ArrowRight" Style="margin-right: 0.5rem; margin-left: auto; margin-bottom: 0.5rem; margin-top: auto;" OnClick="@OnClickReadMore">Read More</MudButton>
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    [Parameter] public required WebsitePost websitePost { get; set; }

    string SplitPostBody(string body)
    {
        string[] words = body.Split(' ');

        if (words.Length > 100)
        {
            return (string.Join(' ', words, 0, 100) + "...");
        }
        else
        {
            return body;
        }
    }

    void OnClickReadMore() {
        NavManager.NavigateTo($"/posts/single/{websitePost.Id}");
    }
}
