@inject WebsitePostAPI WebsitePostAPI
@page "/posts/{postTypeString}"

<PageTitle>@postTypeString</PageTitle>

@if (null != postType)
{
    <div style="width: 100%; padding: 1rem;">
        <div class="posts_header">
            <MudText Typo="Typo.h3">
                @postType.Value
            </MudText>
        </div>
    </div>
}

<AuthorizeView>
    <Authorized>
        <div style="width: 100%; margin: 1rem;">
            <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@OnClickAdd">Add New Post</MudButton>
        </div>
        @if (!newHidden)
        {
            if (null != postType && postType.HasValue)
            {
                <PostEditor websitePost="(new WebsitePost(postType.Value))" editorHidden="@NewPostEventCallback"/>
            }
        }
    </Authorized>
</AuthorizeView>

@if (null != pinnedPost)
{
    <AuthorizeView>
        <Authorized>
            <div style="margin-left: 1rem; margin-right: 1rem;">
                <div style="background-color: #411c63; width: 100%; border-radius: 1rem; display: flex; box-shadow: rgba(20, 20, 20, 0.15) 5px 5px 5px;">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => OnClickEdit(pinnedPost.Id))" Style="padding-left: 1rem;" Color="Color.Tertiary" />
                    <MudText Typo="Typo.body2" Style="margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;" Align="Align.Center">
                        @pinnedPost.Id
                    </MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => OnCLickDelete(pinnedPost))" Color="Color.Tertiary" Style="padding-right: 1rem; margin-right: 0; margin-left: auto;" />
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    @if (postEditHidden[pinnedPost.Id])
    {
        <PostView websitePost="pinnedPost" />
    }
    else
    {
        <PostEditor websitePost="pinnedPost" editorHidden="@((e) => EditPostEventCallback(e, pinnedPost))" />
    }

}

@if (null != posts && posts.Count > 0) {
    foreach (WebsitePost post in posts) {
        <AuthorizeView>
            <Authorized>
                <div style="margin-left: 1rem; margin-right: 1rem;">
                    <div style="background-color: #411c63; width: 100%; border-radius: 1rem; display: flex; box-shadow: rgba(20, 20, 20, 0.15) 5px 5px 5px;">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => OnClickEdit(post.Id))" Style="padding-left: 1rem;" Color="Color.Tertiary"/>
                        <MudText Typo="Typo.body2" Style="margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;" Align="Align.Center">
                            @post.Id
                        </MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => OnCLickDelete(post))" Color="Color.Tertiary" Style="padding-right: 1rem; margin-right: 0; margin-left: auto;"/>
                    </div>
                </div> 
            </Authorized>
        </AuthorizeView>

        @if (postEditHidden[post.Id]) 
        {
            <PostView websitePost="post"/>
        } 
        else 
        {
            <PostEditor websitePost="post" editorHidden="@((e) => EditPostEventCallback(e, post))"/>
        }
    }
}
else 
{
    <MudProgressCircular Indeterminate="true" Style="margin-left: auto; margin-right: auto;"/>
}

@code {
    [Parameter] required public string postTypeString { get; set; }
    WebsitePost.PostType? postType { get; set; }

    List<WebsitePost>? posts;
    WebsitePost? pinnedPost;
    Dictionary<Guid, bool> postEditHidden = new();
    bool newHidden = true;

    async protected override Task OnParametersSetAsync()
    {
        posts = [];

        if (Enum.TryParse<WebsitePost.PostType>(postTypeString, true, out var parsed))
        {
            postType = parsed;

            if (postType == WebsitePost.PostType.Blog)
            {
                Guid pinned = new Guid("cee02522-0b54-46be-abe9-844c8c882a9f");
                pinnedPost = posts.Where(x => x.Id == pinned).FirstOrDefault();

                if (null != pinnedPost)
                {
                    posts.Remove(pinnedPost);
                }
            }
        }
        else
        {
            postType = null;
        }

        await FetchPosts();
        await base.OnParametersSetAsync();
    }

    async Task FetchPosts() 
    {
        if (null != postType) 
        {
            posts = await WebsitePostAPI.GetByType(postType.Value);
        }

        postEditHidden = new();

        if (posts != null)
        {
            foreach (var post in posts)
            {
                if (!postEditHidden.ContainsKey(post.Id))
                {
                    postEditHidden.Add(post.Id, true);
                }
            }
        }
    }

    void OnClickEdit(Guid id)
    {
        postEditHidden[id] = !postEditHidden[id];
    }

    void OnClickAdd() 
    {
        newHidden = !newHidden;
    }

    async Task OnCLickDelete(WebsitePost post) 
    {
        await WebsitePostAPI.DeletePost(post.Id);
        await FetchPosts();
    }

    async Task NewPostEventCallback(bool callback) {
        newHidden = callback;
        await FetchPosts();
    }

    async Task EditPostEventCallback(bool callback, WebsitePost post)
    {
        postEditHidden[post.Id] = callback;
        await FetchPosts();
    }
}
